# 1. ETL and analysis for e-commerce big data

##### Jeff Guo; Aug 25, 2016; guojianfu@gmail.com

## 1.3 Data warehouse construction

In [3]:
import pandas as pd
import numpy as np

xl = pd.ExcelFile("dognition_data_aggregated_by_dogid.xlsx")
df = xl.parse("dog_id_max_ranks")
num = np.sum(df.isnull().values, axis = 1).tolist()
print len(num)

db = df.drop(df.index[[num.index(22)]])
db2 = db.copy()
for y in db2.columns:
    if db2[y].dtype == object:
        db2[y] = db2[y].astype('category')
db2['Dog_Fixed'] = db2['Dog_Fixed'].astype('category') 
db2['DNA_Tested'] = db2['DNA_Tested'].astype('category')
db2['Subscribed'] = db2['Subscribed'].astype('category')

17986

In [2]:
print db2['Subscribed'].dtype
print db2['Subscribed'].cat.categories.dtype
print
print db2['Gender'].dtype
print db2['Gender'].cat.categories.dtype

# min(db2['Weight'])
# a = db2['Weight'].astype('category')
# print a.value_counts()
# db2['Weight']
# db2['Weight'] = db2['Weight'].astype('category')
# b = db2['Weight']
# b[b == 0.0] = np.NaN
# db2['Weight'][db2['Weight'] == 0.0] = np.NaN

# print db2['Weight'].value_counts()
# db2['Weight'].loc[db2['Weight'] == 0.0] = 0.1
db2.loc[db2['Weight'] == 0.0,'Weight'] = 0.1

# db2['Weight'].cat.remove_unused_categories()
# print db2['Weight'].cat.categories
# c = db2['Weight'].cat.categories.tolist()
# print c
# c.remove(0.0)
# db2['Weight'].cat.categories = c
# print db2['Weight'].value_counts()
# print db2['Max_Dogs'].value_counts()
# db2['Max_Dogs'] = db2['Max_Dogs'].astype('category')
# c = db2['Max_Dogs']
# c[c == 0.0] = 1.0

# for i in db2['Max_Dogs']:
#     if i == 0.0:
#         i = 1.0
# db2['Max_Dogs'][db2['Max_Dogs'] == 0.0] = 1.0

# idx = db2['Max_Dogs'][db2['Max_Dogs'] == 0.0].index.tolist()
# print idx
# db2['Max_Dogs'].loc[idx] = 1.0
# print db2['Max_Dogs'].loc[idx]
# print db2['Max_Dogs'].loc[0]

# print db2['Max_Dogs'].value_counts()

# db2['Last_Active_At']

category
float64

category
object

In [3]:
# db2['Max_Dogs'].loc[db2['Max_Dogs'] == 0.0] = 1.0
db2.loc[db2['Max_Dogs'] == 0.0, 'Max_Dogs'] = 1.0

In [4]:
db2['Last_Active_At'] = db2['Last_Active_At'].cat.as_ordered()
print db2.dtypes
print
# print db2['Dog ID'].dtype == 'category'
# print db2['Total Tests Completed'].dtype
for i in db2.columns:
    if db2[i].dtype.name == 'category' and db2[i].cat.ordered == True:
        print i

Dog ID                                             category
Total Tests Completed                                 int64
Mean ITI (days)                                     float64
Mean ITI (minutes)                                  float64
Median ITI (days)                                   float64
Median ITI (minutes)                                float64
Time diff between first and last game (days)        float64
Time diff between first and last game (minutes)     float64
User ID                                            category
Gender                                             category
Birthday                                            float64
Breed                                              category
Breed_Type                                         category
Breed_Group                                        category
Weight                                              float64
Dog_Fixed                                          category
DNA_Tested                                         category
Dimension                                          category
Sign_in_Count                                       float64
Max_Dogs                                            float64
Membership_ID                                       float64
Subscribed                                         category
City                                               category
State                                              category
Zip                                                category
Country                                            category
Exclude                                            category
Free_Start_User                                    category
Last_Active_At                                     category
Membership_Type                                    category
dtype: object

Last_Active_At

In [5]:
import mysql.connector
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://new_user:new_password@localhost:3306/menagerie', 
                       echo=False)
# engine = create_engine('mysql+mysqlconnector://new_user:new_password@localhost/menagerie',\ 
#                        echo=False)

# db2.head()
# db2.head().to_sql(name='sample_table1', con=engine, if_exists = 'fail', index=False)

In [6]:
s = df.ix[:,0]
# print s
s1 = db2.loc[1:5,'Max_Dogs']
print s1

db3 = db2.copy()
db3.index.name = 'Dog_ID_id'
the_user_list = db2['User ID'].tolist()
the_user_index = [the_user_list.index(i) for i in db2['User ID'].cat.categories.tolist()]
the_user_id = {i:j for i,j in enumerate(db2['User ID'].cat.categories.tolist())}
print len(the_user_index)
print len(the_user_id)
# print the_user_index
# print db2['Max_Dogs'].loc(1)
# print db2['Max_Dogs'].loc(the_user_index)
#print db2.loc(1:2,'Max_Dogs')
# print db2['Max_Dogs']
#print db2.ix(2,'Max_Dogs')
#print db2.ix(0,:)
s2 = db2.loc[the_user_index,'Max_Dogs']
# print s2
column_dfs = {'User ID':pd.DataFrame({'User_ID':the_user_id.values(),\
                                     'User_ID_id':the_user_id.keys(),\
                                     'Max_Dogs':s2})}
# the_user_id[0]
# len(the_user_id)
# for i in the_user_id.keys():
#     db2['User ID'].loc[db2['User ID'] == the_user_id[i]] = i
db3['User ID'] = 0
db3['User ID'].astype('int64') 
db3.dtypes
# db2['Max_Dogs'].loc(the_user_index)
# for i in the_user_id.keys():
#     db3['User ID'].loc[db2['User ID'] == the_user_id[i]] = i
# db3['User ID']

1     2.0
2     1.0
3     1.0
4    13.0
5     1.0
Name: Max_Dogs, dtype: float64
16261
16261

Dog ID                                             category
Total Tests Completed                                 int64
Mean ITI (days)                                     float64
Mean ITI (minutes)                                  float64
Median ITI (days)                                   float64
Median ITI (minutes)                                float64
Time diff between first and last game (days)        float64
Time diff between first and last game (minutes)     float64
User ID                                               int64
Gender                                             category
Birthday                                            float64
Breed                                              category
Breed_Type                                         category
Breed_Group                                        category
Weight                                              float64
Dog_Fixed                                          category
DNA_Tested                                         category
Dimension                                          category
Sign_in_Count                                       float64
Max_Dogs                                            float64
Membership_ID                                       float64
Subscribed                                         category
City                                               category
State                                              category
Zip                                                category
Country                                            category
Exclude                                            category
Free_Start_User                                    category
Last_Active_At                                     category
Membership_Type                                    category
dtype: object

In [7]:
for i in the_user_id.keys():
    db3.loc[db2['User ID'] == the_user_id[i],'User ID'] = i
db3['User ID']

Dog_ID_id
0            4
1            7
2            9
3            5
4           12
5           14
6           12
7           13
8           16
9           17
10          18
11          19
12          20
13          21
14           2
15          23
16          21
17          21
18          24
19          26
20          27
21          30
22          29
23          31
24          31
25          32
26          33
27          34
28          34
29          22
         ...
17956    16234
17957    16235
17958    16236
17959    16226
17960    16237
17961    16238
17962    16239
17963    16240
17964    16242
17965    16243
17966    16244
17967    16245
17968    16246
17969    16241
17970    16247
17971    16249
17972    16250
17973    16251
17974    16252
17975    16253
17976    16248
17977    16253
17978     5187
17979    16254
17980    16255
17981    16256
17982    16257
17983    16258
17984    16259
17985    16260
Name: User ID, dtype: int64

In [8]:
the_values = ['Gender','Breed','Breed_Type',\
              'Breed_Group','Dog_Fixed',\
              'DNA_Tested',\
              'Dimension','Subscribed','City',\
              'State','Zip','Country','Exclude','Free_Start_User',\
              'Last_Active_At','Membership_Type']
column_dfs['User ID'].dtypes

Max_Dogs      float64
User_ID        object
User_ID_id      int64
dtype: object

In [9]:
# the_values = ['Gender']

for k in the_values:
    print k
    the_column = {i:j for i,j in enumerate(db2[k].cat.categories.tolist())}
    column_dfs[k] = pd.DataFrame({k:the_column.values(),k+'_id':the_column.keys()})
    db3[k] = 0
    db3[k].astype('int64')
    # print the_column.keys()
    for m in the_column.keys():
        db3.loc[db2[k] == the_column[m],k] = m
db3.dtypes
# db3['Gender']

Gender
Breed
Breed_Type
Breed_Group
Dog_Fixed
DNA_Tested
Dimension
Subscribed
City
State
Zip
Country
Exclude
Free_Start_User
Last_Active_At
Membership_Type

Dog ID                                             category
Total Tests Completed                                 int64
Mean ITI (days)                                     float64
Mean ITI (minutes)                                  float64
Median ITI (days)                                   float64
Median ITI (minutes)                                float64
Time diff between first and last game (days)        float64
Time diff between first and last game (minutes)     float64
User ID                                               int64
Gender                                                int64
Birthday                                            float64
Breed                                                 int64
Breed_Type                                            int64
Breed_Group                                           int64
Weight                                              float64
Dog_Fixed                                             int64
DNA_Tested                                            int64
Dimension                                             int64
Sign_in_Count                                       float64
Max_Dogs                                            float64
Membership_ID                                       float64
Subscribed                                            int64
City                                                  int64
State                                                 int64
Zip                                                   int64
Country                                               int64
Exclude                                               int64
Free_Start_User                                       int64
Last_Active_At                                        int64
Membership_Type                                       int64
dtype: object

In [10]:
db3.head()
db3.columns
cols = db3.columns.tolist()
# print len(cols)
db3.columns = ['Dog_ID','Total_Tests_Completed','Mean_ITI_days','Mean_ITI_minutes',\
        'Median_ITI_days','Median_ITI_minutes',\
        'Time_diff_between_first_and_last_game_days',\
        'Time_diff_between_first_and_last_game_minutes','User_ID_id','Gender_id','Birthday',\
        'Breed_id','Breed_Type_id','Breed_Group_id','Weight','Dog_Fixed_id',\
        'DNA_Tested_id','Dimension_id','Sign_in_Count','Max_Dogs','Membership_ID',\
        'Subscribed_id','City_id','State_id','Zip_id','Country_id','Exclude_id',\
        'Free_Start_User_id','Last_Active_At_id','Membership_Type_id']

db3.head()

,Dog_ID,Total_Tests_Completed,Mean_ITI_days,Mean_ITI_minutes,Median_ITI_days,Median_ITI_minutes,Time_diff_between_first_and_last_game_days,Time_diff_between_first_and_last_game_minutes,User_ID_id,Gender_id,...,Membership_ID,Subscribed_id,City_id,State_id,Zip_id,Country_id,Exclude_id,Free_Start_User_id,Last_Active_At_id,Membership_Type_id
Dog_ID_id,,,,,,,,,,,,,,,,,,,,,
0,fd27b272-7144-11e5-ba71-058fbc01cf0b,21,28.201076,40609.549167,0.004687,6.750000,564.021516,812190.983333,4,0,...,2.0,1,1144,185,3336,65,0,0,5303,2
1,fd27b5ba-7144-11e5-ba71-058fbc01cf0b,20,0.413307,595.162281,0.005845,8.416667,7.852836,11308.083333,7,1,...,1.0,1,168,164,4,65,0,0,12454,1
2,fd27b6b4-7144-11e5-ba71-058fbc01cf0b,2,0.009132,13.150000,0.009132,13.150000,0.009132,13.150000,9,1,...,1.0,1,714,92,383,65,0,0,12454,1
3,fd27b79a-7144-11e5-ba71-058fbc01cf0b,11,56.115179,80805.858333,0.004433,6.383333,561.151794,808058.583333,5,1,...,1.0,1,3330,137,3398,65,0,0,1329,1
4,fd27b86c-7144-11e5-ba71-058fbc01cf0b,31,7.734254,11137.326111,0.000399,0.575000,232.027627,334119.783333,12,0,...,2.0,1,2474,184,1713,65,1,0,12454,2

In [11]:
column_dfs['User ID'].dtypes
column_dfs['Gender'].dtypes
db3 = db3.drop('Max_Dogs', 1)
db3.shape

(17985, 29)

In [12]:
# database talbes setup
from sqlalchemy import Column, ForeignKey, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

Base = declarative_base()

class User_ID(Base):
    __tablename__ = 'userid'

    id = Column('User_ID_id', Integer, primary_key=True, autoincrement=False)
    name = Column('User_ID', String(250), nullable=False)
    dog_number = Column('Max_Dogs', Integer)

class Gender(Base):
    __tablename__ = 'gender'

    id = Column('Gender_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Gender', String(50), nullable=False) 
    
class Breed(Base):
    __tablename__ = 'breed'

    id = Column('Breed_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Breed', String(250), nullable=False)
    
class Breed_Type(Base):
    __tablename__ = 'breed_type'

    id = Column('Breed_Type_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Breed_Type', String(250), nullable=False) 
    
class Breed_Group(Base):
    __tablename__ = 'breed_group'

    id = Column('Breed_Group_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Breed_Group', String(250), nullable=False) 

class Dog_Fixed(Base):
    __tablename__ = 'dog_fixed'

    id = Column('Dog_Fixed_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Dog_Fixed', String(250), nullable=False) 
    
class DNA_Tested(Base):
    __tablename__ = 'dna_tested'

    id = Column('DNA_Tested_id', Integer, primary_key=True, autoincrement=False)
    name = Column('DNA_Tested', String(250), nullable=False)
    
class Dimension(Base):
    __tablename__ = 'dimension'

    id = Column('Dimension_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Dimension', String(250), nullable=False)    

class Subscribed(Base):
    __tablename__ = 'subscribed'

    id = Column('Subscribed_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Subscribed', String(250), nullable=False)
    
class City(Base):
    __tablename__ = 'city'

    id = Column('City_id', Integer, primary_key=True, autoincrement=False)
    name = Column('City', String(250), nullable=False)    

class State(Base):
    __tablename__ = 'state'

    id = Column('State_id', Integer, primary_key=True, autoincrement=False)
    name = Column('State', String(250), nullable=False)
    
class Zip(Base):
    __tablename__ = 'zip'

    id = Column('Zip_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Zip', String(250), nullable=False)    
    
class Country(Base):
    __tablename__ = 'country'

    id = Column('Country_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Country', String(250), nullable=False)
    
class Exclude(Base):
    __tablename__ = 'exclude'

    id = Column('Exclude_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Exclude', String(250), nullable=False)    

class Free_Start_User(Base):
    __tablename__ = 'free_start_user'

    id = Column('Free_Start_User_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Free_Start_User', String(250), nullable=False)
    
class Last_Active_At(Base):
    __tablename__ = 'last_active_at'

    id = Column('Last_Active_At_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Last_Active_At', String(250), nullable=False)    
    
class Membership_Type(Base):
    __tablename__ = 'membership_type'

    id = Column('Membership_Type_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Membership_Type', String(250), nullable=False) 
    
class Dog_ID(Base):
    __tablename__ = 'dog_id'

    name = Column('Dog_ID', String(250), nullable=False)
    id = Column('Dog_ID_id', Integer, primary_key=True, autoincrement=False)
    
    tests_completed = Column('Total_Tests_Completed', Integer)
    mean_iti_days = Column('Mean_ITI_days', Float)
    mean_iti_minutes = Column('Mean_ITI_minutes', Float)
    median_iti_days = Column('Median_ITI_days', Float)
    median_iti_minutes = Column('Median_ITI_minutes', Float)
    time_diff_days = Column('Time_diff_between_first_and_last_game_days', Float)
    time_diff_minutes = Column('Time_diff_between_first_and_last_game_minutes', Float)
    birthday = Column('Birthday', Float)
    weight = Column('Weight', Float)
    sign_in_count = Column('Sign_in_Count', Float)
    membership_id = Column('Membership_ID', Float)
    
    userid_id = Column('User_ID_id', Integer, ForeignKey('userid.User_ID_id'))
    userid = relationship(User_ID)
    
    gender_id = Column('Gender_id', Integer, ForeignKey('gender.Gender_id'))
    gender = relationship(Gender)
    
    breed_id = Column('Breed_id', Integer, ForeignKey('breed.Breed_id'))
    breed = relationship(Breed)    
        
    breed_type_id = Column('Breed_Type_id', Integer, ForeignKey('breed_type.Breed_Type_id'))
    breed_type = relationship(Breed_Type)    
    
    breed_group_id = Column('Breed_Group_id', Integer, ForeignKey('breed_group.Breed_Group_id'))
    breed_group = relationship(Breed_Group)    
    
    dog_fixed_id = Column('Dog_Fixed_id', Integer, ForeignKey('dog_fixed.Dog_Fixed_id'))
    dog_fixed = relationship(Dog_Fixed)    
    
    dna_tested_id = Column('DNA_Tested_id', Integer, ForeignKey('dna_tested.DNA_Tested_id'))
    dna_tested = relationship(DNA_Tested)
    
    dimension_id = Column('Dimension_id', Integer, ForeignKey('dimension.Dimension_id'))
    dimension = relationship(Dimension)    
    
    subscribed_id = Column('Subscribed_id', Integer, ForeignKey('subscribed.Subscribed_id'))
    subscribed = relationship(Subscribed)    
    
    city_id = Column('City_id', Integer, ForeignKey('city.City_id'))
    city = relationship(City)    
    
    state_id = Column('State_id', Integer, ForeignKey('state.State_id'))
    state = relationship(State)    
    
    zip_id = Column('Zip_id', Integer, ForeignKey('zip.Zip_id'))
    zip = relationship(Zip) 
    
    country_id = Column('Country_id', Integer, ForeignKey('country.Country_id'))
    country = relationship(Country)     
    
    exclude_id = Column('Exclude_id', Integer, ForeignKey('exclude.Exclude_id'))
    exclude = relationship(Exclude)     
    
    free_start_user_id = Column('Free_Start_User_id', Integer, \
                                ForeignKey('free_start_user.Free_Start_User_id'))
    free_start_user = relationship(Free_Start_User)     
    
    last_active_at_id = Column('Last_Active_At_id', Integer, \
                               ForeignKey('last_active_at.Last_Active_At_id'))
    last_active_at = relationship(Last_Active_At)     
    
    membership_type_id = Column('Membership_Type_id', Integer, \
                                ForeignKey('membership_type.Membership_Type_id'))
    membership_type = relationship(Membership_Type)         
    
Base.metadata.create_all(engine)

In [13]:
from sqlalchemy.exc import IntegrityError

try:
    column_dfs['User ID'].to_sql('userid',engine,flavor='mysql', if_exists='append',\
                                 index=False)
    print 1
except IntegrityError:
    print 2

print column_dfs['Gender']
# column_dfs['Gender'].to_sql('gender',engine,flavor='mysql', if_exists='append',index=False)
try:
    column_dfs['Gender'].to_sql('gender',engine,flavor='mysql', if_exists='append',index=False)
    print 1
except IntegrityError:
    print 2
    # pass
    # Ignore duplicates

2
   Gender  Gender_id
0  female          0
1    male          1
2

In [14]:
try:
    column_dfs['Breed'].to_sql('breed',engine,flavor='mysql', if_exists='append',index=False)
    print 1
except IntegrityError:
    print 2
    
try:
    column_dfs['Breed_Type'].to_sql('breed_type',engine,flavor='mysql', if_exists='append',\
                                    index=False)
    print 1
except IntegrityError:
    print 2
    
try:
    column_dfs['Breed_Group'].to_sql('breed_group',engine,flavor='mysql', if_exists='append',\
                                     index=False)
    print 1
except IntegrityError:
    print 2
    
try:
    column_dfs['Dog_Fixed'].to_sql('dog_fixed',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2  
    
try:
    column_dfs['DNA_Tested'].to_sql('dna_tested',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2
    
try:
    column_dfs['Dimension'].to_sql('dimension',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2
        
try:
    column_dfs['Subscribed'].to_sql('subscribed',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2    
    
try:
    column_dfs['City'].to_sql('city',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2    
    
try:
    column_dfs['State'].to_sql('state',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2    
        
try:
    column_dfs['Zip'].to_sql('zip',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2    
    
try:
    column_dfs['Country'].to_sql('country',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2    
        
try:
    column_dfs['Exclude'].to_sql('exclude',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2    
    
try:
    column_dfs['Free_Start_User'].to_sql('free_start_user',engine,flavor='mysql',\
                                         if_exists='append', index=False)
    print 1
except IntegrityError:
    print 2    
    
try:
    column_dfs['Last_Active_At'].to_sql('last_active_at',engine,flavor='mysql',\
                                         if_exists='append', index=False)
    print 1
except IntegrityError:
    print 2    
    
try:
    column_dfs['Membership_Type'].to_sql('membership_type',engine,flavor='mysql',\
                                         if_exists='append', index=False)
    print 1
except IntegrityError:
    print 2

2
2
2
2
2
2
2
2
2
2
2
2
2
2
2

In [15]:
column_dfs['User ID'].head()
db3.head()

,Dog_ID,Total_Tests_Completed,Mean_ITI_days,Mean_ITI_minutes,Median_ITI_days,Median_ITI_minutes,Time_diff_between_first_and_last_game_days,Time_diff_between_first_and_last_game_minutes,User_ID_id,Gender_id,...,Membership_ID,Subscribed_id,City_id,State_id,Zip_id,Country_id,Exclude_id,Free_Start_User_id,Last_Active_At_id,Membership_Type_id
Dog_ID_id,,,,,,,,,,,,,,,,,,,,,
0,fd27b272-7144-11e5-ba71-058fbc01cf0b,21,28.201076,40609.549167,0.004687,6.750000,564.021516,812190.983333,4,0,...,2.0,1,1144,185,3336,65,0,0,5303,2
1,fd27b5ba-7144-11e5-ba71-058fbc01cf0b,20,0.413307,595.162281,0.005845,8.416667,7.852836,11308.083333,7,1,...,1.0,1,168,164,4,65,0,0,12454,1
2,fd27b6b4-7144-11e5-ba71-058fbc01cf0b,2,0.009132,13.150000,0.009132,13.150000,0.009132,13.150000,9,1,...,1.0,1,714,92,383,65,0,0,12454,1
3,fd27b79a-7144-11e5-ba71-058fbc01cf0b,11,56.115179,80805.858333,0.004433,6.383333,561.151794,808058.583333,5,1,...,1.0,1,3330,137,3398,65,0,0,1329,1
4,fd27b86c-7144-11e5-ba71-058fbc01cf0b,31,7.734254,11137.326111,0.000399,0.575000,232.027627,334119.783333,12,0,...,2.0,1,2474,184,1713,65,1,0,12454,2

In [16]:
# s = df.ix[:,0]

try:
    # db3.to_sql('dog_id', engine, flavor='mysql', if_exists='append', index=True)
    db3.to_sql('dog_id', engine, flavor='mysql', if_exists='append', index=True, \
               chunksize=1000)
    print 1
except IntegrityError:
    print 2

1